<h2>会員情報編集</h2>
<%= form_with model:@customer, url:customers_information_path do |f| %>
  <p>氏名</p> <%= f.text_field :last_name, autofocus: true %> <%= f.text_field :first_name %>
  <p>フリガナ</p> <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
  <p>郵便番号</p> <%= f.text_field :postal_code %>
  <p>住所</p> <%= f.text_field :address %>
  <p>電話番号</p> <%= f.text_field :telephone_number%>
  <p>メールアドレス</p> <%= f.email_field :email %> 
  <%= f.submit "編集内容を保存" %>
  <%= link_to "退会する", customers_unsubscribe_path %>
<% end %>