<h2>商品編集</h2>

<%= form_with model: @item, url: admin_item_path(@item), local: true do |f| %>

  <div>
    <%= f.label :image, "商品画像" %>
    <%= f.file_field :image , accept: "image/*" %>
  </div>

  <div>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, rows: 5 %>
  </div>

  <div>
    <%= f.label :genre_id, "ジャンル" %>
    <%= f.collection_select :genre_id, @genres, :id, :name %>
  </div>

  <div>
    <%= f.label :price_without_tax, "税抜価格" %>
    <%= f.number_field :price_without_tax %> 円
  </div>

  <div>
    <%= f.label :is_active, "販売ステータス" %>
    <%= f.radio_button :is_active, true %> <%= f.label :is_active_true, "販売中" %>
    <%= f.radio_button :is_active, false %> <%= f.label :is_active_false, "販売停止中" %>
  </div>

  <div>
    <%= f.submit "変更を保存" %>
  </div>

<% end %>