<section class="u-pY-50">
  <div class="u-inner">
    <h1 class="u-title3 u-mb-30">
      <span>商品編集</span>
    </h1>

    <div class="u-size-l">
      <%= form_with model: @item, url: admin_item_path(@item), local: true do |f| %>
        <div class="u-field-row">
          <p class="u-field-title">商品画像</p>
          <div class="u-field">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>

        <div class="u-field-row">
          <p class="u-field-title">商品名</p>
          <div class="u-field">
            <%= f.text_field :name, class: "u-form-textfield opt-full" %>
          </div>
        </div>

        <div class="u-field-row">
          <p class="u-field-title">商品説明</p>
          <div class="u-field">
            <%= f.text_area :introduction, rows: 5, class: "u-form-textarea opt-full" %>
          </div>
        </div>

        <div class="u-field-row">
          <p class="u-field-title">ジャンル</p>
          <div class="u-field">
            <%= f.collection_select :genre_id, @genres, :id, :name, {}, { class: "u-form-select opt-full" } %>
          </div>
        </div>

        <div class="u-field-row">
          <p class="u-field-title">税抜価格</p>
          <div class="u-field">
            <%= f.number_field :price_without_tax, class: "u-form-textfield" %>
            <span>円</span>
          </div>
        </div>

        <div class="u-field-row">
          <p class="u-field-title">販売ステータス</p>
          <div class="u-field">
            <%= f.radio_button :is_active, true, class: "u-pr-30" %> <%= f.label :is_active_true, "販売中" %>
            <%= f.radio_button :is_active, false %> <%= f.label :is_active_false, "販売停止中" %>
          </div>
        </div>

        <div class="u-btn-wrapper u-mt-30">
          <%= f.submit "変更を保存", class: "u-btn u-fw-b" %>
        </div>
      <% end %>
    </div> 
  </div> 
</section>