<h2>商品詳細</h2>

<div>
  <div>
    <%= image_tag @item.get_image, width: 300 %>
  </div>

  <div>
    <p>商品名<%= @item.name %></p>
    <p>商品説明<%= @item.introduction %></p>
    <p>ジャンル<%= @item.genre.name %></p>
    <p>税込価格</p>
    <p>（税抜価格)<%= number_with_delimiter(@item.price_with_tax) %>（<%= number_to_currency(@item.price_without_tax) %>）</p>

    <p>
      販売ステータス
      <% if @item.is_active %>
        <span style="color: green;">販売中</span>
      <% else %>
        <span style="color: gray;">販売停止中</span>
      <% end %>
    </p>

    <%= link_to '編集する', edit_admin_item_path(@item) %>
  </div>
</div>