<section class="u-pY-50">
  <div class="u-inner2">
    <h1 class="u-title3 u-mb-30">
      <span>注文履歴詳細</span>
    </h1>

    <div class="u-vert-10">
      <div class="u-d-f opt-ratio-2:8">
        <p class="u-field-title">購入者</p>
        <div class="u-field">
          <%= link_to "#{@order.customer.last_name} #{@order.customer.first_name}", admin_customer_path(@order.customer.id), class: "u-link" %>
        </div>
      </div>

      <div class="u-d-f opt-ratio-2:8">
        <p class="u-field-title">注文日</p>
        <div class="u-field">
          <%= @order.created_at.strftime('%Y/%-m/%-d') %>
        </div>
      </div>

      <div class="u-d-f opt-ratio-2:8">
        <p class="u-field-title">配送先</p>
        <div class="u-field">
          〒<%= @order.postal_code.insert(3, "-") %><br>
          <%= @order.address %><br>
          <%= @order.name %>
        </div>
      </div>

      <div class="u-d-f opt-ratio-2:8">
        <p class="u-field-title">支払方法</p>
        <div class="u-field">
          <%= @order.payment_method_i18n %>
        </div>
      </div>

      <div class="u-d-f opt-ratio-2:8">
        <p class="u-field-title">注文ステータス</p>
        <div class="u-field">
          <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
            <div class="u-d-f u-gap-30">
              <%= f.select :status, Order.statuses.keys.map { |k| [k.humanize, k] }, selected: @order.status, class: "u-form-select" %>
              <%= f.submit "更新", class: "u-btn opt-small-1 u-fw-b" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="u-pc:d-f opt-end u-gap-50 u-mt-50">
      <div class="u-table-1 pc:opt-full sp:opt-nowrap">
        <table>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each do |detail| %>
              <tr>
                <%= form_with model: detail, url: admin_order_detail_path(detail), method: :patch, local: true do |f| %>
                  <td><%= detail.item.name %></td>
                  <td><%= number_with_delimiter(detail.price_with_tax) %></td>
                  <td><%= detail.amount %></td>
                  <td><%= number_with_delimiter(detail.price_with_tax * detail.amount) %></td>
                  <td>
                    <%= f.select :production_status, OrderDetail.production_statuses.keys.map { |k| [I18n.t("enums.order_detail.production_status.#{k}"), k] }, {selected: detail.production_status}, {class: "u-form-select"} %>
                  </td>
                  <td>    
                      <%= f.submit "更新", class: "u-btn u-fw-b opt-small-1" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="u-d-fs-0">
        <table>
          <tbody>
            <tr>
              <th class="u-ta-l u-pr-20">商品合計</th>
              <td>
                <%= number_with_delimiter(@order.order_details.sum { |detail| detail.price_with_tax * detail.amount }) %>円
              </td>
            </tr>
            <tr>
              <th class="u-ta-l u-pr-20">送料</th>
              <td>
                <%= number_with_delimiter(@order.shipping_fee) %>円
              </td>
            </tr>
            <tr>
              <th class="u-ta-l u-pr-20">請求金額合計</th>
              <td>
                <strong>
                  <% total_payment = @order.order_details.sum { |detail| detail.price_with_tax * detail.amount } + @order.shipping_fee %>
                  <%= number_with_delimiter(total_payment) %>円
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</section>