<h1>配送先登録 / 一覧</h1>

<%= form_with(model: @address, url: 'url', method: :post) do |f| %>
  <%# 郵便番号(ハイフンなし) %>
  <div class="form-group">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>

  <%# 住所 %>
  <div class="form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>

  <%# 宛名 %>
  <div class="form-group">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, placeholder: "令和道子" %>
  </div>

  <%= f.submit, "新規投稿" %>
<% end %>