<section class="u-pY-50">
  <div class="u-inner">
    <h1 class="u-title3 u-mb-30">
      <span>編集画面</span>
    </h1>
    
    <%= form_with model:@address, url: address_path(@address.id), method: :patch do |f| %>
      <div class="u-field-row">
        <p class="u-field-title">郵便番号(ハイフンなし)</p>
          <div class="u-field">
            <%= f.text_field :postal_code, class: "u-form-textfield" %>
          </div>
      </div>

      <div class="u-field-row">
        <p class="u-field-title">住所</p>
          <div class="u-field">
            <%= f.text_field :address, class: "u-form-textfield opt-full" %>
          </div>
      </div>

      <div class="u-field-row">
        <p class="u-field-title">宛名</p>
          <div class="u-field">
            <%= f.text_field :name, class: "u-form-textfield" %>
          </div>
      </div>

      <div class="u-btn-wrapper u-mt-30">
        <%= f.submit "変更内容を保存", class: "u-btn u-fw-b" %>
      </div>
    <% end %>
  </div> 
</section>