<section class="u-pY-50">
  <div class="u-inner1">
    <h1 class="u-title3">
      <span>ショッピングカート</span>
    </h1>

    <div class="u-btn-wrapper opt-right">
      <%= link_to "カートを空にする",
      cart_items_destroy_all_path,
      method: :delete,
      data: { confirm: "本当にカートを空にしてもよろしいですか？" },
      class: "u-btn opt-small u-bg-red u-fw-b"%>
    </div>

    <div class="u-table pc:opt-full sp:opt-nowrap u-mt-20">
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th width="15%">数量</th>
            <th>小計</th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody class="u-fw-b">
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <figure class="cart_item-figure">
                <%= image_tag cart_item.item.get_image, class: "cart_item-image"%>
                <figcaption class="cart_item-name"><%= cart_item.item.name %></figcaption>
              </figure>
            </td>
            <td>
              <%= number_with_delimiter(cart_item.item.price_with_tax) %>
            </td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                <div class="u-d-f opt-center-y u-gap-10">
                  <%= f.select :amount, (1..10).to_a %>
                  <%= f.submit "変更", class: "u-btn opt-small-1" %>
                </div>
              <% end %>
            </td>
            <td>
              <%= number_with_delimiter(cart_item.item.price_with_tax * cart_item.amount) %>
            </td>
            <td>
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "u-btn opt-small-1 u-bg-red u-fw-b opt-full"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="u-table u-mt-20 opt-right">
      <table>
        <tbody>
          <tr>
            <th>合計金額</th>
            <td>
              <strong><%= number_with_delimiter(@total_fee) %></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="u-btn-wrapper opt-col2 u-size-l u-mt-30">
      <%= link_to "買い物を続ける", root_path, class: "u-btn u-bg-blue u-fw-b"%>
      <%= link_to "情報入力に進む", new_order_path, class: "u-btn u-fw-b"%>
    </div>
  </div>
</section>