<h2>新規会員登録</h2>

<%= form_with model:@customer, url:customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name,"(姓)" %><br />
    <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %>
  </div>

  <div class="field">
    <%= f.label :first_name,"(名)" %><br />
    <%= f.text_field :first_name, placeholder: "道子" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana,"(セイ)" %><br />
    <%= f.text_field :last_name_kana, placeholder: "レイワ" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana,"(メイ)" %><br />
    <%= f.text_field :first_name_kana, placeholder: "ミチコ" %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :postal_code,"郵便番号(ハイフンなし)" %><br />
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0"%>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号（ハイフンなし）" %><br />
    <%= f.text_field :telephone_number, placeholder: "0000000000"%>
  </div>

  <div class="field">
    <%= f.label :password,"パスワード" %>
    <% if @minimum_password_length %>
    <span>(<%= @minimum_password_length %> 文字以上)</span>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認用" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
