<section class="u-pY-50">
  <div class="u-inner2">
    <h1 class="u-title3 u-mb-30">
      <span>注文履歴一覧</span>
    </h1>

    <div class="u-table pc:opt-full sp:opt-nowrap">
      <table>
        <thead>
          <tr>
            <th>注文日</th>
            <th width="50%">配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= "#{order.created_at.year}/#{order.created_at.month}/#{order.created_at.day}" %></td>
              <td>〒<%= order.postal_code  + order.address + order.name %></td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <p><%= order_detail.item.name %></p>
                <% end %>
              </td>
              <td><%= number_with_delimiter(order.total_payment) %>円</td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to "表示する", order_path(order.id), class: "u-btn u-fw-b u-bg-blue opt-small-1" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 
</section>