<h2>注文情報入力</h2>

<h3>支払方法</h3>
  <%= f.radio_botton :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_botton :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>


<h3>お届け先<h3>
  <%= f.select :address_id, options_form_collection_for_select(Address.all, :id, :name) %>

<%= link_to "確認画面へ進む", order_confirm_path %>