<section class="u-pY-50">
  <div class="u-inner">
    <h1 class="u-title3 u-mb-30">
      <span>注文情報入力</span>
    </h1>
    <%= form_with model: @order, url:  orders_confirm_path do |f| %>
      <section>
        <h2 class="u-title5 u-mb-10">支払い方法</h2>
        <p>
          <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        </p>
        <p>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
        </p>
      </section>

      <section class="u-mt-50">
        <h2 class="u-title5 u-mb-10">お届け先<h2>
        <div>
          <p>
            <%= f.label :address_type_member_address do %>
              <%= f.radio_button :address_type, "member_address", checked: true %>
              <b>ご自身の住所</b>
            <% end %>
          </p>
          <p class="u-pl-30">
            〒<%= current_customer.postal_code + "  " + current_customer.address %><br>
            <%= current_customer.last_name + current_customer.first_name %>
          </p>
        </div>

        <div class="u-mt-30">
          <p>
            <%= f.label :address_type_registered_address do %>
              <%= f.radio_button :address_type, "registered_address" %>
              <b>登録済住所から選択</b>
            <% end %>
          </p>
          <p class="u-pl-30">
            <%= f.select :address_id, options_from_collection_for_select(Address.where(customer_id: current_customer.id), :id, :address_display), {}, class: "u-form-select" %>
          </p>
        </div>

        <div class="u-mt-30">
          <p>
            <%= f.label :address_type_new_address do %>
              <%= f.radio_button :address_type, "new_address" %>
              <b>新しいお届け先</b>
            <% end %>
          </p>
          <div class="u-pl-30">
            <div class="u-field-row">
              <p class="u-field-title">郵便番号(ハイフンなし)</p>
              <div class="u-field">
                <%= f.text_field :postal_code, class: "u-form-textfield", placeholder: "例: 1234567" %>
              </div>
            </div>

            <div class="u-field-row">
              <p class="u-field-title">住所</p>
              <div class="u-field">
                <%= f.text_field :address, class: "u-form-textfield opt-full", placeholder: "例: 東京都渋谷区代々木神園町0-0" %>
              </div>
            </div>

            <div class="u-field-row">
              <p class="u-field-title">宛名</p>
              <div class="u-field">
                <%= f.text_field :name, class: "u-form-textfield", placeholder: "例: 令和道子" %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="u-btn-wrapper u-mt-50">
        <%= f.submit "確認画面へ進む", class: "u-btn u-bg-blue" %>
      </div>
    <% end %>
  </div> 
</section>