<section class="u-pY-50">
  <div class="u-inner2">
    <h1 class="u-title3 u-mb-30">
      <span>注文履歴詳細</span>
    </h1>

    <div class="u-pc:d-f opt-ratio-7:3 u-gap-20">
      <article>
        <h2 class="u-title6 u-mb-10">注文情報</h2>
        <div class="u-table pc:opt-full sp:opt-nowrap">
          <table>
            <tbody>
              <tr>
                <th width="20%">注文日</th>
                <td><%= "#{@order.created_at.year}/#{@order.created_at.month}/#{@order.created_at.day}" %></td>
              </tr>
              <tr>
                <th>配送先</th>
                <td>
                  〒<%= @order.postal_code %><br>
                  <%= @order.address %><br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <th>支払方法</th>
                <td><%= @order.payment_method_i18n %></td>
              </tr>
              <tr>
                <th>ステータス</th>
                <td><%= @order.status_i18n %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>

      <article class="u-sp:mt-30">
        <h2 class="u-title6 u-mb-10">請求情報</h2>
        <div class="u-table pc:opt-full sp:opt-nowrap">
          <table>
            <tbody>
              <tr>
                <th>商品合計</th>
                <td>
                  <% total_price = @order.order_details.sum do |order_detail| 
                    order_detail.price_with_tax * order_detail.amount
                  end %>
                  <%= number_with_delimiter(total_price) %>
                </td>
              </tr>
              <tr>
                <th>配送料</th>
                <td><%= @order.shipping_fee %></td>
              </tr>
              <tr>
                <th>ご請求額</th>
                <td><%= number_with_delimiter(total_price + @order.shipping_fee) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>

    <article class="u-mt-30">
      <h2 class="u-title6 u-mb-10">請求情報</h2>
      <div class="u-table sp:opt-nowrap">
        <table>
          <thead>
            <tr>
              <th>商品</th>
              <th>単価（税込）</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.price_with_tax %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.price_with_tax * order_detail.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </article>
  </div> 
</section>