<h1>商品一覧(全<%= @items.count %>件)</h1>
<% @items.each do |item| %>
  <%= link_to item_path(item) do %>
    <%= image_tag item.get_image %>
  <% end %>
    <%= item.name %>
    ￥<%= number_with_delimiter(item.price_with_tax) %>
<% end %>
<%= paginate @items %>