<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/470093f27d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-row">
        <figure class="header-logo">
          <%= link_to root_path do %>
            <img src="https://placehold.jp/200x100.png" alt="ロゴ画像" fetchpriority="high" width="100" height="50">
          <% end %>
        </figure>

        <nav class="header-nav">
          <% if customer_signed_in? %>
              <p class="u-ta-r u-mb-5">ようこそ<%= current_customer.last_name %>さん!</p>
              <div class="header-btns-wrapper">
                <ul class="header-btns">
                  <li>
                    <%= link_to "マイページ", customers_my_page_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", items_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "カート", cart_items_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "u-btn-1 opt-small-1" %>
                  </li>
                </ul>
              </div>
          <% else %>
              <div class="header-btns-wrapper">
                <ul class="header-btns">
                  <li>
                    <%= link_to "About", about_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", items_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "新規登録", new_customer_registration_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_customer_session_path, class: "u-btn-1 opt-small-1" %>
                  </li>
                </ul>
              </div>
          <% end %>
        </nav>
      </div>
    </header>

    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>

    <%= yield %>
    <footer>
    </footer>
  </body>
</html>